h1 {
	text-align: center;
}

table {
	margin: 100px auto;
	border-spacing: 0;
}


#c1 {
	border-width: 0 1px 1px 0;
	border-style:solid;
	padding: 100px;

}

#c2 {
	border-width: 0 1px 1px 0;
	border-style:solid;
	padding: 100px;
}

#c3 {
	border-width: 0 0 1px 0;
	border-style:solid;
	padding: 100px;

}

#c4 {
	border-width: 0 1px 1px 0;
	border-style:solid;
	padding: 100px;
}

#c5 {
	border-width: 0 1px 1px 0;
	border-style:solid;
	padding: 100px;
}

#c6 {
	border-width: 0 0 1px 0;
	border-style:solid;
	padding: 100px;
}

#c7 {
	border-width: 0 1px 0 0;
	border-style:solid;
	padding: 100px;
}

#c8 {
	border-width: 0 1px 0 0;
	border-style:solid;
	padding: 100px;
}

#c9 {
	border-width: 0 0 0 0;
	border-style:solid;
	padding: 100x;
}